@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 56, 102, 65;
  --background-end-rgb: 56, 102, 65;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.link-card {
  background-image: url('/images/link-card.svg');
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.headerIntersected {
  background-color: #F2E8CF;
  color: #386641
}

.headerBlur {
  opacity: 1.2;
}

input:-webkit-autofill {
  background-color: #000 !important; /* Cambia el color de fondo */
  color: white !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}
  
